*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.container{
    position: relative;
    width: 100%;
    transform: rotate(0deg);
}

.container-ball{
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
}

.container-ball__ball{
    background-color: royalblue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 0 5px rgb(65, 105, 225,1);
    transition: 1s;
}

.container .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 400px);
    /*-webkit-box-reflect: below 1px linear-gradiant(transparent, #004);*/
    animation: animateSurface 1.5s ease-in-out infinite;
    
}

@keyframes animateSurface{
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(-100px);
    }
}

.container .box .cube{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #03e9f4;
    box-shadow: 0 0 5px rgb(3, 233, 244,1),
    0 0 25px rgb(3, 233, 244,1),
    0 0 50px rgb(3, 233, 244,1),
    0 0 100px rgb(3, 233, 244,1),
    0 0 200px rgb(3, 233, 244,0.5),
    0 0 300px rgb(3, 233, 244,0.5);
    transform-origin: bottom right;
    animation: animate 1.5s ease-in-out infinite;
    transform: translateY(-100px);
    
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(90deg);
    }
    65%{
        transform: rotate(85deg);
    }
    70%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(87.5deg);
    }
    80%,100%{
        transform: rotate(90deg);
    }
}